<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ApplicationProperties</key>
  <dict>
    <key>ApplicationPath</key>
    <string>Applications/File Icons for GitHub and GitLab.app</string>
    <key>Architectures</key>
    <array>
      <string>x86_64</string>
      <string>arm64</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.github.File-Icons-for-GitHub-and-GitLab</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>SigningIdentity</key>
    <string>Apple Development: pher122s@gmail.com (9235XLLY27)</string>
    <key>Team</key>
    <string>QDQF927NNA</string>
  </dict>
  <key>ArchiveVersion</key>
  <integer>2</integer>
  <key>CreationDate</key>
  <date>2022-06-23T18:23:15Z</date>
  <key>Name</key>
  <string>File Icons for GitHub and GitLab (macOS)</string>
  <key>SchemeName</key>
  <string>File Icons for GitHub and GitLab (macOS)</string>
</dict>
</plist>
