@font-face {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome.woff2');
}

@font-face {
  font-family: Mfizz;
  src: url('../fonts/mfixx.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Devicons;
  src: url('../fonts/devopicons.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: file-icons;
  src: url('../fonts/file-icons.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Octicons Regular;
  src: url('../fonts/octicons.woff2');
  font-weight: normal;
  font-style: normal;
}
