body {
  font-family: system-ui, sans-serif;
  color: #333;
}

.wrapper {
  width: 90vw;
  max-width: 400px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

header img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

label {
  display: block;
  margin: 8px 0;
}

footer {
  margin-top: 32px;
}

p.message {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  margin-left: 8px;
}

p.message:empty {
  display: none;
}
