body {
  font-family: system-ui, sans-serif;
  color: #333;
}

.wrapper {
  width: 200px;
}

header {
  margin-bottom: 16px;
  text-align: center;
}

label {
  display: block;
  margin: 8px 0;
}

footer {
  margin-top: 32px;
}

button.save {
  padding: 5px 10px;
  background-color: #fff;
  border-color: #000;
  cursor: pointer;
}

p.message {
  display: inline-block;
  vertical-align: center;
  margin: 0;
  margin-left: 8px;
}

p.message:empty {
  display: none;
}
