name: Build Safari Extension
on: workflow_dispatch

jobs:
  build_with_signing:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.BUILD_CERTIFICATE_BASE64 }}
          P12_PASSWORD: ${{ secrets.P12_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.BUILD_PROVISION_PROFILE_BASE64 }}
          KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
        run: |
          # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode --output $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode --output $PP_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles


      - name: Build Extension
        run: |
          npm install
          npm run build
          npm run pack:safari

          cd safari

          xcodebuild -scheme 'File Icons for GitHub and GitLab (macOS)' clean build
          xcodebuild -scheme 'File Icons for GitHub and GitLab (macOS)' archive -archivePath 'File Icons for GitHub and GitLab.xcodeproj/project.xcarchive'
          xcodebuild -exportArchive -archivePath 'File Icons for GitHub and GitLab.xcodeproj/project.xcarchive'  -exportPath  'File Icons for GitHub and GitLab.xcodeproj/project.ipa' -exportOptionsPlist 'File Icons Extension/Info.plist'

          # make it executable
          sudo chmod +x 'File Icons for GitHub and GitLab.xcodeproj/project.ipa/File Icons for GitHub and GitLab.app'
          sudo chmod +x 'File Icons for GitHub and GitLab.xcodeproj/project.ipa/File Icons for GitHub and GitLab.app/Contents/MacOS/File Icons for GitHub and GitLab'

      - uses: actions/upload-artifact@v3
        with:
          name: 'File Icons for GitHub and GitLab'
          path: 'safari/File Icons for GitHub and GitLab.xcodeproj/project.ipa'
